body {
  background-color:black;
  background-repeat: no-repeat;
  background-size: cover; 
}
.logo{
  height: 100%;
  width:100%;
}
.amazing-text {
  color: yellow;
  display: flex;
  justify-content: center;
  background-color: green;
}
.cont{
  color:white;
  display: flex;
  justify-content: center;
  background-color:black;
  border-radius: 5;
  text-decoration: none;
  margin-left: 1px;
  margin-right:1px;
  font-size: 20px;
  border:1px solid blue;
  transition: background-color 0.3s ease;
}
.con2{
  color:cyan;
  display: flex;
  justify-content: center;
  background-color:black;
  border-radius: 5;
  text-decoration: none;
  margin-left: 1px;
  margin-right:1px;
  font-size: 20px;
  border:1px solid blue;
  transition: background-color 0.3s ease;
}


